body, html {
    background: #ECF8E0;
    font-family: "Herculanum", "Lucida Grande", "Lucida Sans Unicode", verdana, sans-serif;
    font-size: 120%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_panel {
  width: 50%;
  float: left;
  height: 100%;
  margin: 0;
  display: table;
}

.main_panel .subsite {
  width: 100%;
  height: 33.33%;
  padding: 0;
  display: table;
}

.main_panel .subsite a, .phusis a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.subsite_title {
  margin: 0 30px;
}

.phusis:hover, .subsite:hover {
    background: #B2D1B2;
}

.phusis div.link_wrapper {
  display: table;
  width: 100%;
  height: 95%;
}

.phusis p {
  margin: 0;
  border-right: 1px dotted #999;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}

.subsite .link_wrapper {
  width: 95%;
  height: 100%;
  display: table;
  margin: 0 auto;
}

.subsite p {
  margin: 0;
  border-bottom: 1px dotted #999;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.vins p {
  border-bottom: none;
}

.subsite_cygne {
  margin: 0 10px;
}
